.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IDE / editor
.idea/
.vscode/
*.iml
*.iws

# Flutter
.flutter-plugins
.flutter-plugins-dependencies

# FVM
.fvm/flutter_sdk

# Coverage
coverage/

# Misc
*.log
