.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IDE / editor
.idea/
.vscode/
*.iml
*.iws

# Flutter
.flutter-plugins
.flutter-plugins-dependencies

# FVM
.fvm/

# Coverage
coverage/

# Dart / pub
/pubspec.lock

# Misc
*.log
.omx/
.DS_Store
